@keyframes move-gradient {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

.animated-gradient {
    background-size: 400% 400%;
    animation: move-gradient 20s ease infinite;
    transition: transform 0.4s ease-out;
}